li, a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.header-bg {
  background-color: var(--bg-color-gray-dark);
  width: 100%;
  height: 8rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 5rem;
  border-radius: 50%;
}

.logo p {
  margin-left: 1.4rem;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  transition: all 0.3s ease-out

}

.logo p:hover {
  color: var(--color-hover);
}

.menu {
  display: flex;
  gap: 2rem;
}

.menu-item a {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 1rem;
  letter-spacing: 0.1rem;
  color: var(--nav-text-color);
  transition: all 0.3s ease-out
}

.menu-item a:hover {
  color: var(--color-hover);
}


