.intro-bg {
  width: 100%;
  padding: 12rem 4rem 12rem 4rem;
  background-image: url('/assets/img/background.jpg');
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.intro-content {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-content h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  letter-spacing: .5rem;
  line-height: 1.2;
  color: var(--title-text-color);
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 4rem;
}

.intro-content h1::after {
  content: '|';
  margin-left: .5rem;
  opacity: 1;
  animation: pisca .7s infinite;
}

@keyframes pisca {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}


.intro-content p {
  font-size: 2rem;
  max-width: 50ch;
  text-align: center;
  line-height: 1.6;
  color: var(--content-text-color);
  margin-bottom: 12rem;
}

.intro-img {
  max-width: 50rem;
  margin-top: 6rem;
}


@media (max-width: 1350px) {
  .intro-img {
    margin-top: 12rem;
  }
}

@media (max-width: 800px) {
  .intro-content h1 {
    font-size: 4rem;
  }

  .intro-content p {
    font-size: 2rem;
  }
}

@media (max-width: 560px) {
  .intro-content h1 {
    margin-bottom: 4rem;
    font-size: 3rem; 
  }

  .intro-content p {
    font-size: 1.6rem;
    margin-bottom: 6rem;
  }
}