.sobre-bg {
  background: var(--bg-color-gray-dark);
  padding: 12rem 1rem 12rem 1rem;
}

.sobre-bg h2 {
  text-align: center;
  font-size: 4rem;
  letter-spacing: .2rem;
  color: var(--title-text-color);
  margin-bottom: 8rem;
}

.sobre-bg h2::after {
  content: '';
  display: block;
  width: 80px;
  height: 3px;
  background: #6d2db0;
  margin: 1rem auto;
}

.sobre-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sobre-descricao p {
  font-size: 1.6rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  max-width: 55ch;
  color: #f0f0f0;
}

.sobre-descricao h3, .sobre-habilidades h3 {
  font-size: 3.2rem;
  letter-spacing: .2rem;
  color: var(--title-text-color);
  margin-bottom: 4rem;
}

.sobre-descricao h3::after, .sobre-habilidades h3::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background: #6d2db0;
  margin-top: 1rem;
}

.habilidades {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.sobre-habilidades span {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #f0f0f0;
  color: #111111;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 4px;
  text-align: center;
}

.btn-contato {
  margin-top: 4rem;
}


